main {
  display: flex;
}
.main-div-cate,
.main-div-cate1 {
  display: flex;
  justify-content: center;
  padding: 3vh;
  border-radius: 8px;
}
.main-div-cate:hover {
  background-color: rgb(215, 216, 219);
}
.main-div1,
.main-div2 {
  border: 7px solid #136572;
  margin: 15px;
  border-radius: 15px;
  background-color: white;

  box-shadow: 2px 2px 2px gray;
}
.main-div1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.main-div2 {
  flex: 3;
  font-size: 20px;
}
main {
  display: flex;
}
.main-exam {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 2px solid #136572;
  border-radius: 15px;
  margin: 15px;
  padding: 10px;
  box-shadow: 1px 1px 2px gray;
}
.main-exam:hover {
  color: white;
  background-color: #136572;
}
.main-exam-div2 {
}
.main-exam-div1 {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: right;
}
.exam-start-div {
  width: 70px;
  height: 33px;
  text-align: center;
  background-color: rgb(235, 64, 64);
  display: block;
  float: right;
  margin: 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 2px gray;
}
.exam-start-div:hover {
  background-color: rgb(228, 17, 17);
}
.main-a-page {
  border: 2px solid #136572;
  border-radius: 5px;
  margin: 1px;
  width: 25px;
  text-align: center;
  box-shadow: 1px 1px 2px gray;
}
.main-a-page:hover {
  background-color: #136572;
  color: white;
}
.tool-exam,
.tool-exam > div {
  display: flex;
  justify-content: center;
}
.exam-start,
.tool-exam1 {
  color: white;
}
.tool-exam1-div1,
.tool-exam1-div2 {
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  height: 33px;
  background-color: #438484;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 2px gray;
}
.tool-exam1-div1 {
  width: 120px;
}
.tool-exam1-div2 {
  width: 140px;
}
.tool-exam1-div1:hover,
.tool-exam1-div2:hover {
  background-color: #136572;
}
.i {
  margin-left: 5px;
  margin-top: 4px;
}
