doctype
html
  head
    meta(charset='utf8')
    link( rel='stylesheet' type='text/css' href='/mainstyle.css')
    link( rel='stylesheet' type='text/css' href='/mainstyle1.css')
    link( rel='stylesheet' type='text/css' href='/examstyle.css')
    link( rel='stylesheet' type='text/css' href='/input.css')
    script( type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script( type='text/javascript' src='/slide.js')
  body
     div.body-div
      nav
        div.nav-div
          h1.nav-div-h1
            a.nav-div-a(href='/main') 문제은행
          if displayname=='login'
            h1.nav-div-h1
              a.nav-div-a(href='/user/login')= displayname
          else
           h1.nav-div-h1
              a.nav-div-a(href='/user/logout')= displayname
           h1.nav-div-h1
              a.nav-div-a(href='/main/') 뒤로가기
      main.body-div-main
       div.input-div-flex
          div.input-div
            form(action='/post/cted/'+category._id method='post')
              p
                  div 이름
                  br
                  input.input-area1(type='text' name='category' value= category.name)
                  if category.open==true
                    p
                      div.input-div-flex2
                        div
                          input#open(type='radio' name='open' checked='checked' value='공개' style='width:20px;height:20px;border:1px')
                          label(for='open') 공개
                        div
                          input#open(type='radio' name='open' value='비공개' style='width:20px;height:20px;border:1px')
                          label(for='open') 비공개
                    p
                      div.input-div-flex1
                          input.input-button(type='submit' value='수정' class='login_button' )
                          a.input-a1(onclick='delete_cate("#{category._id}")') 삭제
                  else
                    p
                      div.input-div-flex2
                        div
                          input(type='radio' name='open' value='공개' style='width:20px;height:20px;border:1px')
                          label(for='open') 공개
                        div
                          input(type='radio' name='open' checked='checked' value='비공개' style='width:20px;height:20px;border:1px')
                          label(for='open') 비공개
                    p 
                      div.input-div-flex1
                          input.input-button(type='submit' value='수정' class='login_button')
                          a.input-a1.input-a2(onclick='delete_cate("#{category._id}")') 삭제

   